@import url(//fonts.googleapis.com/css?family=Open+Sans)

@import 'font-awesome'
@import 'bourbon'
@import 'neat'

body
	font-family: "Open Sans"

.bar
  cursor: pointer
  fill: steelblue
  transition: fill .7s

.bar:hover
  fill: brown

.axis--x path
  display: none
